version: ${APP_VERSION}

services:

 # database service
  database:
    image: postgres:15.2
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
      PGDATA: ${DATABASE_PGDATA}
    volumes:
      - ${DATABASE_PGDATA}
    ports:
      - ${DATABASE_PORT}:${DATABASE_PORT}
    restart: always
    networks:
      - custom
    env_file:
      - .env

# application service
  fastapi-app:
#    container_name: ${APP_NAME}
    build: .
    command: python run.py
    ports:
      - ${SITE_PORT}:${SITE_PORT}
    depends_on:
      - database
    restart: always
    networks:
      - custom
    env_file:
      - .env

# admin service
  admin-app:
#    container_name: ${ADMIN_APP_NAME}
    build: ./admin
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver '${ADMIN_SITE_HOST}:${ADMIN_SITE_PORT}'"
    ports:
      - ${ADMIN_SITE_PORT}:${ADMIN_SITE_PORT}
    depends_on:
      - database
    restart: always
    networks:
      - custom
    env_file:
      - .env

networks:
  custom:
    driver: bridge